html, body {
  height: 100vh;
  margin: 0;
  background-color: #0800e7; /* Your chosen blue background */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Main Page */
.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
  margin: 20px 0;
}

h1 {
  font-size: 10em;
  font-family: "DM Sans";
  margin: 0px;
}

header p {
  font-size: 3em;
}

/* Employment page */
.employment {
  text-align: center;
  background-color: #0800e7;
}

.employment .header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.employment-content {
  overflow-y: auto;
  background-color: #0800e7;
  color: #ffffff;
  padding-bottom: 16%;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.down-button {
  position: absolute; /* Use 'fixed' to keep it at the bottom left regardless of scrolling */
  bottom: 20px; /* Distance from the bottom */
  left: 20px; /* Distance from the left */
  z-index: 10;
}

.up-button {
  position: relative;
  bottom: 20px;
  left: 20px;
}

.resume {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px 30px;
  color: #000;
}

.job-title {
  font-size: 60px;
  margin-bottom: 0px;
}

.job-year {
  font-size: 25px;
}

.job-description {
  font-size: 20px;
}

/* About Page */
.about-page {
  font-family: "DM Sans";
  position: relative;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 90px 20px 20px;
  background-color: #0800e7;
  overflow: hidden; 
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-page h4 {
  font-size: 2.5em;
  margin: 0px;
}

.skills-container {
  font-family: "Dosis";
  display: flex;
  flex-direction: column;
  width: 45vw;
}

.skills-container p {
    margin: 10px 0px 10px 0px;
    font-size: 1.7em;
    text-align: center;
  }

.email {
  font-size: 4.5em; 
  margin: 0px;
}

.blurb {
  width: 85%;
  font-size: 2em;
}

/* Audio Player */
.audio-button {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: none;
  border: 2px solid black;
}

.play-pause-icon {
  height: 50%;
}

.audio-name {
  font-size: 3em;
  margin-left: 10px;
}

.audio-player {
  display: flex;
  flex-direction: row;
}

/* ArrowButton */
.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 2px solid #000;
  background-color: #0800e700;
  font-size: 50px;
  line-height: 1;
  transition: background-color 0.2s; 
}

.arrowButton:hover {
  background-color: #000000;
  color: #0800e7;
}

/* button */
.button {
  border-radius: 5px;
  border: 2px solid #000;
  padding: 15px 30px;
  background-color: #0800e7;
  font-size: 50px;
  transition: background-color 0.2s; 
}

.button:hover {
  background-color: #000000;
  color: #0800e7;
}